
.answer-box{class: "answer-box-id-#{answer.id}"}
  .answer-body
    %p
      =answer.body
      .body-attachments

        - if answer.attachments.any? && answer.user != current_user
          - answer.attachments.each do |attach|
            %li
              =link_to attach.file.filename, attach.file.url
    .answer-best-box{data: {link: makebest_question_answer_path(@question,answer), id: answer.id} }

      -if current_user == answer.question.user and answer.best == false and answer.id
        =link_to 'Check as best Answer', makebest_question_answer_path(@question,answer), method: :patch ,class:["best-answer-#{answer.id}"],remote: true
      -if answer.best == true
        %span{class:["this-best-answer-#{answer.id}"]}
          Best Answer
  -if user_signed_in?
    -if answer.user == current_user
      -unless answer.body.empty?
        .btn-group
          =link_to 'Remove My Answer', [@question, answer], method: :delete, data: {confirm: "Are you sure?"},remote: true
          =link_to 'Edit My Answer', '', data: {answer_id: answer.id}, class:["edit-answer-link"]
          - if answer.attachments.any?
            - answer.attachments.each do |attach|
              %li
                =link_to attach.file.filename, attach.file.url


      .answer-edit-form
        =bootstrap_form_for [@question, answer], remote: true, html: {id: "answer-edit-#{answer.id}"} do |answer|
          .form-errors
            //-# content_tag(:div, class: ["form-errors-#{answer.id}"])
          =answer.text_area :body, label: "You answer:"
          =answer.fields_for :attachments do |attach|
            =attach.file_field :file
          =answer.submit 'Save'



