
-@question.answers.each do |a|
  .answer-box{class: "answer-box-id-#{a.id}"}
    = a.id
    .answer-body
      =a.body
    -if current_user == a.question.user and a.best == false and a.id
      =link_to 'Check as best Answer', makebest_question_answer_path(@question,a), method: :patch ,class:["best-answer-#{a.id}"],remote: true
    -if a.best == true
      Best Answer
    -if user_signed_in?
      -if a.user == current_user
        -unless a.body.empty?
          .btn-group
            =link_to 'Remove My Answer', [@question, a], method: :delete, data: {confirm: "Are you sure?"},remote: true
            =link_to 'Edit My Answer', '', data: {answer_id: a.id}, class:["edit-answer-link"]

        .answer-edit-form
          =bootstrap_form_for [@question, a], remote: true, html: {id: "answer-edit-#{a.id}"} do |answer|
            .form-errors
            //-# content_tag(:div, class: ["form-errors-#{a.id}"])
            =answer.text_area :body, label: "You answer:"
            =answer.submit 'Save'



