.panel.panel-default
  .question
    .panel-heading
      %h3
        = @question.title
    .panel-body
      = @question.body
    .panel-footer
      .question-attach
        = render 'layouts/attachments', attachments: @question.attachments
      .votes_block
        = render partial: 'votes/votes_block', locals: { voted_object: @question }

      =link_to 'To index', questions_path, class:['btn','btn-default']
      = render 'subscriptions/subscription', question: @question
      -if can?(:update, @question)
        .btn-group
          =link_to 'Edit question', edit_question_path(@question), class:['btn','btn-default']
          =link_to 'Delete', @question, method: :delete, data: {confirm: "Are you sure?"}, class:['btn','btn-default']

    .comments-list
      %h6
        Comments
      = render 'comments/index', resource: @question
      - if can?(:create, Comment)
        = render 'comments/form', resource: @question, comment: @question.comments.build


%h4
  Answers:
.add-answer-form-error
= bootstrap_form_for [@question, @question.answers.build], remote: true  do |f|
  = f.text_area :body, label: 'Your answer text:'
  .field
    = f.fields_for :attachments, @answer.attachments.build do |attach|
      = render 'attachment_fields', f: attach
    .links
      = link_to_add_association 'Add', f, :attachments,
        partial: 'attachment_fields', class: "btn btn-default"
  = f.submit 'Add answer'


.answers
  -@question.answers.each do |answer|
    - if answer.persisted?
      =render 'answer', answer: answer
      = subscribe_to "/question/#{answer.id}/comments"

= subscribe_to "/questions/#{@question.id}/answers"
= subscribe_to "/question/#{@question.id}/comments"
