= "Votes #{voted_object.votes_calc}"
- if current_user && voted_object.user_id != current_user.id
    - if voted_object.kind_of?(Question)
        - if voted_object.exists?(current_user)
            =  link_to "Your vote: #{voted_object.get_vote_value(current_user)}, removes vote?", devote_question_path(voted_object), remote: true, method: :post, class: 'btn btn-default btn-devote question-devote-link'
        - else
            = link_to '+', vote_plus_question_path(voted_object), remote: true, method: :post, class: 'btn btn-default btn-vote question-like-link'
            = link_to '-', vote_minus_question_path(voted_object), remote: true, method: :post, class: 'btn btn-default btn-vote question-dislike-link'
    - else
        - if voted_object.exists?(current_user)
            =  link_to "Your vote: #{voted_object.get_vote_value(current_user)}, remove vote?", devote_question_answer_path(voted_object.question, voted_object), remote: true, method: :post, class: 'btn btn-default btn-devote answer-devote-link'
        - else
            = link_to '+', vote_plus_question_answer_path(voted_object.question, voted_object), remote: true, method: :post, class: 'btn btn-default btn-vote answer-like-link'
            = link_to '-', vote_minus_question_answer_path(voted_object.question, voted_object), remote: true, method: :post, class: 'btn btn-default btn-vote answer-dislike-link'
